.crew_wrapper {
  background: url("../../assets/crew_bck.svg");

  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  background-attachment: fixed;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.commander_wrapper,
.specialist_wrapper,
.pilot_wrapper,
.engineer_wrapper {
  height: 100vh;
  display: flex;
  scroll-snap-align: center;
}
.crew_wrapper .container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto;
}
.left,
.right {
  flex: 1;
}
.crew_wrapper .left {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-around;
  gap: 1rem;
}
.crew_wrapper .left h2 {
  margin: 2rem 0;
}
.crew_wrapper .left h2 span:nth-child(2) {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  margin: 0 10px;
}
.crew_wrapper .left h2 span:nth-child(1) {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.725px;
  opacity: 0.25;
}
.crew_details p:nth-child(1) {
  color: #fff;
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5042;
}
.crew_details h1 {
  color: #fff;
  font-family: Bellefair;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.crew_details p:nth-child(3) {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 2rem 0;
}
.crew_wrapper .left ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.crew_wrapper .left ul a{
  position: absolute;
}
.crew_wrapper .left ul li {
  border-radius: 100%;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.4;
  height: 5px;
  width: 5px;
  position: relative;
}
.crew_wrapper .left ul .active {
  opacity: 1;
}
