.destination_wrapper {
  background: url("../../assets/destination_bck.svg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}
.destination_wrapper .top {
  width: 80%;
  margin: 2rem auto;
}
.destination_wrapper .top h3 {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  text-transform: uppercase;
}
.destination_wrapper .top span {
  opacity: 0.25;
}
.destination_wrapper .bottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.destination_wrapper .bottom img {
  mix-blend-mode: exclusion;
  object-fit: contain;
  width: 578px;
  height: 500px;
}
.destination_wrapper .left,
.destination_wrapper .right {
  flex: 1;
}
.destination_wrapper .right ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
}
.destination_wrapper .right h1 {
  color: #fff;
  font-family: Bellefair;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.destination_wrapper .right .destination_details {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin: 2rem 0;
  border-bottom: 1px solid #383b4b;
  padding-bottom: 2rem;
}

.destination_wrapper .destination_sub {
  display: flex;
  gap: 6rem;
}
.destination_wrapper .destination_sub p {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.destination_wrapper .destination_list {
  height: 2.5rem;
}
.destination_wrapper .destination_list li {
  cursor: pointer;
}
.destination_wrapper .destination_list .active {
  border-bottom: 1px solid #fff;
}
.destination_wrapper .destination_list li:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.destination_wrapper .destination_sub p span:nth-child(2) {
  color: #fff;
  font-family: Bellefair;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.destination_wrapper .destination_sub p span:nth-child(1) {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
}
@media (max-width:1200px) {
  .destination_wrapper .bottom{
    flex-direction: column;
  }
  .destination_wrapper .left{
    display: flex;
    justify-content: center;
  }
  .destination_wrapper .right{
    text-align: center;
  }
  .destination_wrapper .right ul {
    justify-content: center;
  }
  .destination_wrapper .destination_sub{
    justify-content: center;
  }
}