.technology_wrapper {
  background: url("../../assets/technology_bck.svg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
  background-attachment: fixed;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  display: flex;
  justify-content: flex-end;
}
.technology_wrapper > .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  padding: 1rem 0;
  max-height: 100vh;
  margin: 6rem 0;
}
.technology_wrapper > .container h2 {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
}
.technology_wrapper > .container h2 span:nth-child(1) {
  opacity: 0.25;
  margin-right: 1rem;
  font-weight: 700;
}
.technology_wrapper > .container > .content_wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.technology_wrapper > .container > .content_wrapper > .content {
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.technology_wrapper
  > .container
  > .content_wrapper
  > .content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.technology_wrapper > .container > .content_wrapper > .content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.technology_wrapper > .container > .content_wrapper > .navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.technology_wrapper > .container > .content_wrapper > .navigation ul .active {
  background-color: white;
  color: black;
}
.technology_wrapper > .container > .content_wrapper > .navigation ul li {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  cursor: pointer;
}
.technology_wrapper > .container > .content_wrapper > .navigation ul li:hover {
  border: 1px solid #fff;
}
.technology_wrapper .content_wrapper .content .launch,
.technology_wrapper .content_wrapper .content .spacesport,
.technology_wrapper .content_wrapper .content .capsule {
  display: flex;
  min-width: 100%;
  gap: 3rem;
  scroll-snap-align: center;
}
.technology_wrapper .content_wrapper .content .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 3rem;
}
.technology_wrapper .content_wrapper .content .left p:nth-child(1) {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.technology_wrapper .content_wrapper .content .left h1 {
  color: #fff;
  font-family: Bellefair;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.technology_wrapper .content_wrapper .content .left p:nth-child(3) {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin: 1rem 0;
}
@media (max-width: 1200px) {
  .technology_wrapper > .container {
    width: 100%;
    overflow: hidden;
  }
  .technology_wrapper .content_wrapper {
    flex-direction: column;
  }
  .technology_wrapper > .container > .content_wrapper > .navigation ul {
    width: 100%;
    flex-direction: row;
  }
  .technology_wrapper .content_wrapper .content .launch,
  .technology_wrapper .content_wrapper .content .spacesport,
  .technology_wrapper .content_wrapper .content .capsule {
    flex-direction: column;
  }
  .technology_wrapper .content_wrapper .content .left {
    order: 2;
    align-items: center;
    padding: 10px;
    margin: 0;
  }
  .technology_wrapper .left p {
    text-align: center;
  }
  .technology_wrapper .left h1 {
    text-align: center;
  }
  .technology_wrapper .right {
    order: 1;
    display: flex;
    justify-content: center;
  }

  .technology_wrapper .right img {
    object-position: bottom;
    width: 100%;
    aspect-ratio: 7/4;
    object-fit: cover;
  }

  .capsule .right img {
    object-position: center;
  }
  .technology_wrapper .header {
    padding: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .technology_wrapper > .container {
    margin: 1rem 0;
  }
  .technology_wrapper .header {
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }
  .technology_wrapper > .container h2 {
    font-size: 20px;
  }
  .technology_wrapper > .container > .content_wrapper > .navigation ul li {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .technology_wrapper .right img {
    aspect-ratio: 4/2;
  }
  .technology_wrapper .content_wrapper .content .left h1 {
    font-size: 20px;
  }
  .technology_wrapper .content_wrapper .content .left p:nth-child(3) {
    font-size: 15px;
    width: 80%;
    line-height: 25px;
    margin: 5px 0;
  }

  .technology_wrapper .content_wrapper .content .launch,
  .technology_wrapper .content_wrapper .content .spacesport,
  .technology_wrapper .content_wrapper .content .capsule {
    gap: 1rem;
  }
  .technology_wrapper > .container > .content_wrapper {
    gap: 1rem;
  }
}
